body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}


.image-wrapper {
  padding: 8px;
  filter: brightness(0.9);
  background: rgba(255, 255, 255, 0.8);
  background: white;
  border-radius: 8px;
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 60%; 
  max-width: 95%;
} 

.image-wrapper.modal {
  max-width: 90%; 
  min-height: 50%; 
}

.rating {
  display: flex;
  gap: 3px;
  position: absolute;
  bottom: 24px;
  left: 24px;
  background-color: white;
  padding: 2px 4px;
  border-radius: 8px;
  background-color: white;
  backdrop-filter: none;
  z-index: 2;
  align-items: center;
  font-size: smaller;
}
